@media screen and (min-width:1115px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        padding: 5% 10%;
        font-size: 15px;
        font-family: Inter;
    }
    .flex{
        display: flex;
    }
    
    #logo{
        width: 5%;
        height: 5%;
        margin-right: 50%;
    }
    nav{
        align-content: flex-end;
        justify-content: space-between;
        width: 45%;
        padding-top: 1%;
    }
    main{
        margin: 3% 0;
    }
    .h1{
        font-size: 45px;
        font-weight: 900;
        width: 50%;
    }
    
    .one{
        width: 67%;   
    }
    
    .two{
        width: 33%;
        height: 470px;
        padding: 2%;
        margin-left: 3%;
        margin-top: 1.15%;
        background-color: hsl(240, 100%, 5%);
    }
    .two h4{
        color:  hsl(36, 100%, 99%);
        margin-bottom: 2%;
        font-size: 18px;
    }
    .two p{
        color: hsl(233, 8%, 79%);
    }
    
    .two div{
        padding: 8% 0;
        border-bottom: 0.5px solid hsl(36deg 100% 99% / 35%);
    }
    #vc{
        border-bottom: none;
    }
    
    #new{
        color: hsl(35, 77%, 62%);
    }
    
    .img{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .a{
        margin-top: 1%;
    }
    .b{
        width: 50%;
        margin-left: 4%;
        margin-top: 2%;
        color: hsl(236, 13%, 42%);
        line-height-step: 2px;
    }
    p{
        text-align: left;
    }
    
    button{
        padding: 4% 8%;
        background-color: hsl(5, 85%, 63%);
        color: hsl(36, 100%, 99%);
        text-transform: uppercase;
        border: none;
        margin: 7% 0;
        font-size: 0.7em;
        letter-spacing: 3px;
    }
    button:hover{
        background-color: hsl(240, 100%, 5%);
    }
    
    .three{
        height: 120px;
        margin: 4% 0;
    }
    
    .three .flex{
        width: 50%;
    }
    
    .three img{
        margin-right: 5%;
    }
    
    .growth{
        margin-left: 2%;
    }
    .laptops{
        margin-left: 2%;
    }
    .p{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    
    .num{
        color: hsl(233, 8%, 79%);
        font-size: 2em;
        font-weight: 800;
        margin: 0;
    }
    .h4{
        font-weight: 900;
        font-size: 16px;
    }
    .q{
         font-size: 0.8em;
        color: hsl(236, 13%, 42%);
    }
    
    .h:hover, .h4:hover{
        color: hsl(5, 85%, 63%);
    }
    .none{
        display: none;
    }
    .fa{
        display: none !important;
    }
}

@media screen and (min-width:1025px) and (max-width: 1114px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        padding: 5%;
        font-size: 15px;
        font-family: Inter;
    }
    .flex{
        display: flex;
    }
    
    #logo{
        width: 5%;
        height: 5%;
        margin-right: 50%;
    }
    nav{
        align-content: flex-end;
        justify-content: space-between;
        width: 45%;
        padding-top: 1%;
    }
    main{
        margin: 3% 0;
    }
    .h1{
        font-size: 45px;
        font-weight: 900;
        width: 50%;
    }
    
    .one{
        width: 67%;   
    }
    
    .two{
        width: 33%;
        height: 470px;
        padding: 2%;
        margin-left: 3%;
        margin-top: 1.2%;
        background-color: hsl(240, 100%, 5%);
    }
    .two h4{
        color:  hsl(36, 100%, 99%);
        margin-bottom: 2%;
        font-size: 18px;
    }
    .two p{
        color: hsl(233, 8%, 79%);
    }
    
    .two div{
        padding: 8% 0;
        border-bottom: 0.5px solid hsl(36deg 100% 99% / 35%);
    }
    #vc{
        border-bottom: none;
    }
    
    #new{
        color: hsl(35, 77%, 62%);
    }
    
    .img{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .a{
        margin-top: 5%;
    }
    .b{
        width: 50%;
        margin-left: 4%;
        margin-top: 2%;
        color: hsl(236, 13%, 42%);
        line-height-step: 2px;
    }
    p{
        text-align: left;
    }
    
    button{
        padding: 4% 8%;
        background-color: hsl(5, 85%, 63%);
        color: hsl(36, 100%, 99%);
        text-transform: uppercase;
        border: none;
        margin: 4% 0;
        font-size: 0.7em;
        letter-spacing: 3px;
    }
    button:hover{
        background-color: hsl(240, 100%, 5%);
    }
    
    .three{
        height: 120px;
        margin: 4% 0;
    }
    
    .three .flex{
        width: 50%;
    }
    
    .three img{
        margin-right: 5%;
    }
    
    .growth{
        margin-left: 2%;
    }
    .laptops{
        margin-left: 2%;
    }
    .p{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    
    .num{
        color: hsl(233, 8%, 79%);
        font-size: 2em;
        font-weight: 800;
        margin: 0;
    }
    .h4{
        font-weight: 900;
        font-size: 16px;
    }
    .q{
         font-size: 0.8em;
        color: hsl(236, 13%, 42%);
    }
    
    .h:hover, .h4:hover{
        color: hsl(5, 85%, 63%);
    }
    .none{
        display: none;
    }
    .fa{
        display: none !important;
    }

}

@media screen and (min-width:801px) and (max-width: 1024px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        padding: 5%;
        font-size: 16px;
        font-family: Inter;
    }
    .flex{
        display: flex;
    }
    
    #logo{
        width: 5%;
        height: 5%;
        margin-right: 50%;
    }
    nav{
        align-content: flex-end;
        justify-content: space-between;
        width: 45%;
        padding-top: 1%;
    }
    main{
        margin: 3% 0;
    }
    .h1{
        font-size: 45px;
        font-weight: 900;
        width: 50%;
    }
    
    .one{
        width: 67%;   
    }
    
    .two{
        width: 33%;
        height: 480px;
        padding: 2%;
        margin-left: 3%;
        margin-top: 1.2%;
        background-color: hsl(240, 100%, 5%);
    }
    .two h4{
        color:  hsl(36, 100%, 99%);
        margin-bottom: 2%;
        font-size: 18px;
    }
    .two p{
        color: hsl(233, 8%, 79%);
    }
    
    .two div{
        padding: 8% 0;
        border-bottom: 0.5px solid hsl(36deg 100% 99% / 35%);
    }
    #vc{
        border-bottom: none;
    }
    
    #new{
        color: hsl(35, 77%, 62%);
    }
    
    .img{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .a{
        margin-top: 7%;
    }
    .b{
        width: 50%;
        margin-left: 4%;
        margin-top: 2%;
        color: hsl(236, 13%, 42%);
        line-height-step: 2px;
    }
    p{
        text-align: left;
    }
    
    button{
        padding: 4% 8%;
        background-color: hsl(5, 85%, 63%);
        color: hsl(36, 100%, 99%);
        text-transform: uppercase;
        border: none;
        margin: 4% 0;
        font-size: 0.7em;
        letter-spacing: 3px;
    }
    button:hover{
        background-color: hsl(240, 100%, 5%);
    }
    
    .three{
        height: 120px;
        margin: 4% 0;
    }
    
    .three .flex{
        width: 50%;
    }
    
    .three img{
        margin-right: 5%;
    }
    
    .growth{
        margin-left: 2%;
    }
    .laptops{
        margin-left: 2%;
    }
    .p{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    
    .num{
        color: hsl(233, 8%, 79%);
        font-size: 2em;
        font-weight: 800;
        margin: 0;
    }
    .h4{
        font-weight: 900;
        font-size: 16px;
    }
    .q{
         font-size: 0.8em;
        color: hsl(236, 13%, 42%);
    }
    
    .h:hover, .h4:hover{
        color: hsl(5, 85%, 63%);
    }
    .none{
        display: none;
    }
    .fa{
        display: none !important;
    }

}
@media screen and (min-width:500px) and (max-width:800px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        padding: 5%;
        max-width: 100vw;
        font-size: 16px;
        font-family: Inter;
    }
    .flex{
        display: flex;
    }
    
    #logo{
        width: 25%;
        height: 25%;
        margin-right: 60%;
    }
    nav .fa{
        display: block;
        color: #000;
        margin: 10%;
        margin-left: 80%;
        font-size: 30px;
        cursor: pointer;
    }
    

    i.fa-bars {
        margin-top: 5%;
        width: 20px !important;
        height: 20px !important;
    }


    .navbar{
        display: block;
        position: absolute;
        width: 500px;
        height: 100vh;
        text-align: left;
        top: 0;
        right: -500px;
        z-index: 2;
        transition: 2s;
        background-color: hsl(36, 100%, 99%);
    }


    nav p{
        text-decoration: none;
        color: black;
        font-size: 1em;
        margin: 10%;
    }

    .imgg{
        width: 100%;
        height: 50%;
    }
    main{
        margin: 3% 0;
    }
    .h1{
        font-size: 40px;
        font-weight: 900;
    }
    
    .two{
        /* width: 33%; */
        /* height: 450px; */
        padding: 5%;
        width: 100%;
        margin-top: 1.15%;
        background-color: hsl(240, 100%, 5%);
    }
    .two h4{
        color:  hsl(36, 100%, 99%);
        margin-bottom: 2%;
        font-size: 18px;
    }
    .two p{
        color: hsl(233, 8%, 79%);
    }
    
    .two div{
        padding: 8% 0;
        border-bottom: 0.5px solid hsl(36deg 100% 99% / 35%);
    }
    #vc{
        border-bottom: none;
    }
    
    #new{
        color: hsl(35, 77%, 62%);
    }
    
    /* .img{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    } */
    .a{
        margin-top: 1%;
    }
    .b{
        width: 100%;
        /* margin-left: 4%; */
        margin-top: 2%;
        color: hsl(236, 13%, 42%);
        /* line-height-step: 2px; */
    }
    p{
        text-align: left;
    }
    
    button{
        padding: 5% 10%;
        background-color: hsl(5, 85%, 63%);
        color: hsl(36, 100%, 99%);
        text-transform: uppercase;
        border: none;
        margin: 7% 0;
        font-size: 1em;
        letter-spacing: 3px;
    }
    button:hover{
        background-color: hsl(240, 100%, 5%);
    }
    
    .three{
        /* height: 20px; */
        width: 100%;
        margin: 4% 0;
    }
    
    .three .flex{
        width: 100%;
        margin: 2% 0;
    }
    
    .three img{
        margin-right: 5%;
        width: 35%;
        height: 35%;
    }
    
    .growth{
        margin-left: 2%;
    }
    .laptops{
        margin-left: 2%;
    }
    .p{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    
    .num{
        color: hsl(233, 8%, 79%);
        font-size: 2em;
        font-weight: 800;
        margin: 0;
    }
    .h4{
        font-weight: 900;
        font-size: 18px;
    }
    .q{
         font-size: 1em;
        color: hsl(236, 13%, 42%);
    }
    
    .h:hover, .h4:hover{
        color: hsl(5, 85%, 63%);
    }
    .nonee{
        display: none;
    }
    .flexx{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:500px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        padding: 5%;
        max-width: 100%;
        font-size: 16px;
        font-family: Inter;
    }
    .flex{
        display: flex;
    }
    
    #logo{
        width: 25%;
        height: 25%;
        margin-right: 60%;
    }
    
    nav .fa{
        display: block;
        color: #000;
        margin: 10%;
        margin-left: 80%;
        font-size: 30px;
        cursor: pointer;
    }
    

    i.fa-bars {
        margin-top: 5%;
        width: 20px !important;
        height: 20px !important;
    }


    .navbar{
        display: block;
        position: absolute;
        width: 500px;
        height: 100vh;
        text-align: left;
        top: 0;
        right: -500px;
        z-index: 2;
        transition: 2s;
        background-color: hsl(36, 100%, 99%);
    }


    nav p{
        text-decoration: none;
        color: black;
        font-size: 1em;
        margin: 10%;
    }

    .imgg{
        width: 100%;
        height: 50%;
    }
    main{
        margin: 3% 0;
    }
    .h1{
        font-size: 40px;
        font-weight: 900;
    }
    
    .two{
        /* width: 33%; */
        height: 450px;
        padding: 3%;
        width: 100%;
        margin-top: 1.15%;
        background-color: hsl(240, 100%, 5%);
    }
    .two h4{
        color:  hsl(36, 100%, 99%);
        margin-bottom: 2%;
        font-size: 18px;
    }
    .two p{
        color: hsl(233, 8%, 79%);
    }
    
    .two div{
        padding: 8% 0;
        border-bottom: 0.5px solid hsl(36deg 100% 99% / 35%);
    }
    #vc{
        border-bottom: none;
    }
    
    #new{
        color: hsl(35, 77%, 62%);
    }
    
    /* .img{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    } */
    .a{
        margin-top: 1%;
    }
    .b{
        width: 100%;
        /* margin-left: 4%; */
        margin-top: 2%;
        color: hsl(236, 13%, 42%);
        /* line-height-step: 2px; */
    }
    p{
        text-align: left;
    }
    
    button{
        padding: 5% 10%;
        background-color: hsl(5, 85%, 63%);
        color: hsl(36, 100%, 99%);
        text-transform: uppercase;
        border: none;
        margin: 7% 0;
        font-size: 1em;
        letter-spacing: 3px;
    }
    button:hover{
        background-color: hsl(240, 100%, 5%);
    }
    
    .three{
        /* height: 20px; */
        width: 100%;
        margin: 4% 0;
    }
    
    .three .flex{
        width: 100%;
        margin: 2% 0;
    }
    
    .three img{
        margin-right: 5%;
        width: 35%;
        height: 35%;
    }
    
    .growth{
        margin-left: 2%;
    }
    .laptops{
        margin-left: 2%;
    }
    .p{
        display: flex;
        margin-top: 5%;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    
    .num{
        color: hsl(233, 8%, 79%);
        font-size: 2em;
        font-weight: 800;
        margin: 0;
    }
    .h4{
        font-weight: 900;
        font-size: 18px;
    }
    .q{
         font-size: 1em;
        color: hsl(236, 13%, 42%);
    }
    
    .h:hover, .h4:hover{
        color: hsl(5, 85%, 63%);
    }
    .nonee{
        display: none;
    }
    .flexx{
        display: flex;
        flex-direction: column;
    }
}
